$backgoundColor = #404e4d
$red = #c23333
$green = #9bc53d
$yellow = #fde74c
$blue = #12d6e8
$orange = #e65a08
$pink = #ff5480
$lemon = #cce300
$ceruleanBlue = #3454d1


.editor
  width: 100%
  min-height: 34px
  background-color: $backgoundColor
  border: 2px solid #f8f8f8
  border-radius: 4px
  padding: 10px
  box-sizing: border-box
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  >p
    margin: 2px
    padding: 0
    width: 100%

.function
  color: $orange

.function-name
  color: $green

.simbol
  color: $blue

.method
  color: $lemon
  display: inline-block
  margin: 8px 0px 2px 0px
  background-color: $backgoundColor
  padding: 2px

.variable
  color: $pink